set scrolloff=5
set incsearch
set number relativenumber
set clipboard+=unnamed
set showmode
set showcmd
set visualbell
set noerrorbells

set smartcase
set incsearch
set hlsearch
let mapleader=" "

"map Q gq
"map q 

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'chrisbra/matchit'

imap jk <Esc>
imap jj <Esc>
nmap ; :
nmap 0 0w

nmap <esc>:noh<CR>
"nnoremap <esc>:noh<CR>
nnoremap <esc> :noh<cr><esc>
nmap <leader>cc <Action>(ReformatCode)
nmap <leader>cf <Action>(com.intellij.csharpier.ReformatWithCSharpierAction)
nmap <leader>tb <Action>(ToggleLineBreakpoint)
nmap <leader>h :noh<CR>

nmap <S-l> <Action>(NextTab)
nmap <S-h> <Action>(PreviousTab)

nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j

" bookmarks "
nmap <leader>bt <Action>(ToggleBookmark)
nmap <leader>bg <Action>(ShowBookmarks)

map <leader>q <action>(CloseContent)
nmap <leader>bd <action>(CloseContent)
nmap <leader>bp <Action>(PinActiveTabToggle)
nmap <leader>bP <Action>(CloseAllUnpinnedEditors)
nmap <leader>s <Action>(SaveDocument)


"map <leader>et :NERDTreeToggle<CR>
nmap <leader>ee :NERDTree<CR>
nmap <leader>eg <Action>(ActivateCommitToolWindow)
nmap <leader>ed <Action>(ActivateDatabaseToolWindow)<CR>

nmap <leader>dm <Action>(ToggleDistractionFreeMode)

nmap <leader>n :noh<CR>


map <leader>ff <Action>(GotoFile)
map <leader>fr <Action>(RecentFiles)
"map <leader>fs <Action>(SwitcherAndRecentFiles)
map <leader>fw <Action>(SearchEverywhere)
map <leader>fa <Action>(GotoAction)
map <leader>sg <Action>(SearchEverywhere)
"map <leader>ca <Action>(Refactorings.QuickListPopupAction)
map <leader>ca <Action>(ShowIntentionActions)

map <leader>rn <Action>(RenameElement)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
map <leader>dd <Action>(Debug)
map <leader>da <Action>(XDebugger.AttachToProcess)
map <leader>dr <Action>(Run)

"map <leader>xx <Action>(Rider.ProblemsView.CurrentFileShowPreview)
map <leader>xx <Action>(ActivateProblemsViewToolWindow)

" Go to code
nmap gi <Action>(GotoImplementation)
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)

nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>

nnoremap <leader>% :action SplitVertically<CR>
nnoremap <leader>v :action SplitHorizontally<CR>
" nnoremap <c-=> :action Unsplit<CR>
" nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

